*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.flex-box{
    border: 2px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /*flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

}
/* .div{
    width: 100px;
    height: 100px;
    border: 1px dotted blue;
    background-color: #fa0909;
} */
#div-1{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    border: .1px solid white;
    padding: 15px;
    font-size: 32px;
}
#div-2{
    width: 100%;
    height: 5vh;
    background-color: rgb(14, 150, 105);
    color: black;
    text-align:right;
    border: .1px solid white;
}
#div-3{
    width: 15%;
    height: 80vh;
    background-color:rgb(81, 230, 83);
    color: black;
    text-align: center;
    border: .1px solid white;
}
#div-4{
    width:85% ;
    height: 80vh;
    background-color: rgb(65, 146, 55);
    color: black;
    text-align: center;
    border: .1px solid white;
}
#div-5{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center; 
    border: .1px solid white;
}
li{
    display: inline-block;
    padding: 10px;
    font-size: large;

}