body{
    background-color: aquamarine;
}
.container{
    background-color: bisque;
    height: 300px;
    border: 2px solid black;
    width: 750px;
    margin: 47px 50px 10px;
    padding: 40px;
    padding-top: 25px;
    padding-left: 300px;
    box-sizing: border-box;
}
.child1{
    background-color: blueviolet;
    height:150px;
    border: 1px solid blue;
    width: 160px;
    border-radius: 489px;
    text-align: center;
    padding: 25px;
}
